Repository MouronRoger/panoptikon: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-length, check-docstring-coverage

check-file-length:
  name: check file length
  entry: python scripts/check_file_length.py
  language: python
  args:
  - --max-lines=500

check-docstring-coverage:
  name: check docstring coverage
  entry: python scripts/check_docstring_coverage.py
  language: python
  args:
  - --min-coverage=95

Phase 1: Initial setup
  .flake8
  .pre-commit-config.yaml
  .pylintrc
  .vscode/settings.json
  Makefile
  README.md
  docs/spec/knowledge-graph-prompt.md
  docs/spec/phases/phase1_completion.md
  docs/spec/phases/read_mcp_knowledge_graph.md
  docs/spec/phases/read_panoptikon-development-roadmap.md
  docs/spec/phases/read_panoptikon-system-architecture.md
  docs/spec/phases/read_phase_report_template.md
  docs/spec/phases/read_style_guide.md
  pyproject.toml
  scripts/check_docstring_coverage.py
  scripts/check_file_length.py
  src/panoptikon/__init__.py
  src/panoptikon/core/__init__.py
  src/panoptikon/database/__init__.py
  src/panoptikon/filesystem/__init__.py
  src/panoptikon/search/__init__.py
  src/panoptikon/ui/__init__.py
  src/panoptikon/utils/__init__.py
  tests/conftest.py
  tests/test_core.py
Due: check-file-length, check-docstring-coverage

Phase 1 linting
  pyproject.toml
  scripts/check_docstring_coverage.py
  scripts/check_file_length.py
  src/panoptikon/__init__.py
  src/panoptikon/database/__init__.py
  src/panoptikon/filesystem/__init__.py
  src/panoptikon/search/__init__.py
  src/panoptikon/ui/__init__.py
  src/panoptikon/utils/__init__.py
  tests/conftest.py
  tests/test_core.py
Due: check-file-length, check-docstring-coverage

fixing linting
  pyproject.toml
  tests/pytest.pyi
  tests/test_core.py
Due: check-file-length

lint stuff
  panoptikon/pyproject.toml
  pyproject.toml
Due: none

lint
  tests/pytest.pyi
Due: none

Phase 2 completion
  docs/spec/phases/phase2_completion.md
  src/panoptikon/__main__.py
  src/panoptikon/core/__init__.py
  src/panoptikon/core/config.py
  src/panoptikon/core/errors.py
  src/panoptikon/core/events.py
  src/panoptikon/core/lifecycle.py
  src/panoptikon/core/service.py
  tests/__init__.py
  tests/core/__init__.py
  tests/core/test_service.py
Due: check-file-length, check-docstring-coverage

Phase 2 linting
  Makefile
  pyproject.toml
  src/panoptikon/core/config.py
  src/panoptikon/core/errors.py
  src/panoptikon/core/events.py
  src/panoptikon/core/lifecycle.py
  src/panoptikon/core/service.py
  tests/conftest.py
  tests/pytest.pyi
Due: check-file-length, check-docstring-coverage

Checking for duplicates
  CONTRIBUTING.md
  docs/spec/phases/phase1_completion.md
  panoptikon/CONTRIBUTING.md
  pyproject.toml
  src/panoptikon/core/config.py
Due: check-file-length, check-docstring-coverage

ci workflows
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
Due: none

Add GitHub Actions workflows for CI/CD
  .github/workflows/release.yml
Due: none

Dependency Pinning - Critical for reproducible builds. Add pip-compile to generate requirements.txt from pyproject.toml: pip install pip-tools pip-compile pyproject.toml -o requirements.txt
  CHANGELOG.md
  Makefile
Due: none

dataclass_patch
  events_patched.py
  phase2_test_results.md
  test_phase2.py
  test_simple.py
Due: check-file-length, check-docstring-coverage

fix pyobjc typing issues
  docs/pyobjc_typing.md
  pyproject.toml
  src/panoptikon/core/events.py
  src/panoptikon/typings/AppKit/__init__.pyi
  src/panoptikon/typings/Foundation/__init__.pyi
  src/panoptikon/typings/__init__.py
  src/panoptikon/typings/objc/__init__.pyi
  src/panoptikon/ui/macos_app.py
  src/panoptikon/ui/objc_wrappers.py
  src/panoptikon/ui/validators.py
  tests/ui/test_objc_integration.py
Due: check-file-length, check-docstring-coverage

pyobjc testing passed
  tests/ui/test_objc_integration.py
Due: check-file-length

serious testing
  pyproject.toml
  src/panoptikon/core/service.py
  tests/core/test_config.py
  tests/core/test_events.py
Due: check-file-length, check-docstring-coverage

fix dataclass errors
  src/panoptikon/core/config.py
  src/panoptikon/core/events.py
Due: check-file-length, check-docstring-coverage

linting
  src/panoptikon/core/config.py
Due: check-file-length, check-docstring-coverage

fixing tests
  .coverage (1)
  src/panoptikon/__main__.py
  src/panoptikon/core/config.py
  src/panoptikon/core/errors.py
  src/panoptikon/core/lifecycle.py
  tests/core/test_config.py
  tests/core/test_errors.py
  tests/core/test_lifecycle.py
  tests/test_main.py
  tests/ui/test_validators.py
Due: check-file-length, check-docstring-coverage

Fixing tests
  src/panoptikon/ui/macos_app.py
  tests/core/test_config_extended.py
  tests/test_main.py
  tests/ui/test_macos_app.py
Due: check-file-length, check-docstring-coverage

remove stub packages
  pyproject.toml
  src/panoptikon/typings/AppKit/__init__.pyi
  src/panoptikon/typings/Foundation/__init__.pyi
  src/panoptikon/typings/objc/__init__.pyi
  tests/ui/test_macos_app_extended.py
Due: check-file-length

testing
  tests/core/test_config.py
  tests/core/test_config_extended.py
  tests/core/test_events.py
  tests/ui/test_macos_app.py
Due: check-file-length

tests
  phase2_test_results.md
  tests/core/test_integration_phase2.py
  tests/core/test_integration_simple.py
  tests/events_patched.py
Due: check-file-length

linting linting#
  scripts/check_docstring_coverage.py
  scripts/check_file_length.py
  src/panoptikon/core/config.py
  src/panoptikon/core/errors.py
  src/panoptikon/core/events.py
  src/panoptikon/core/lifecycle.py
  src/panoptikon/ui/macos_app.py
  src/panoptikon/ui/objc_wrappers.py
  src/panoptikon/ui/validators.py
  tests/core/test_config.py
  tests/core/test_config_extended.py
  tests/core/test_errors.py
  tests/core/test_events.py
  tests/core/test_integration_phase2.py
  tests/core/test_integration_simple.py
  tests/core/test_lifecycle.py
  tests/events_patched.py
  tests/test_main.py
  tests/ui/test_macos_app.py
  tests/ui/test_macos_app_extended.py
  tests/ui/test_objc_integration.py
  tests/ui/test_validators.py
Due: check-file-length, check-docstring-coverage

phase 3 partial
  docs/spec/# Panoptikon Code Error Priority List.md
  src/panoptikon/filesystem/__init__.py
  src/panoptikon/filesystem/bookmarks.py
  src/panoptikon/filesystem/events.py
  src/panoptikon/filesystem/paths.py
  src/panoptikon/filesystem/watcher.py
Due: check-file-length, check-docstring-coverage

Linting errors
  src/panoptikon/filesystem/bookmarks.py
  src/panoptikon/filesystem/paths.py
Due: check-file-length, check-docstring-coverage

phase 3 coding complete
  docs/spec/phases/phase3-partial_completion.md
  docs/spec/phases/phase3_completion.md
  src/panoptikon/filesystem/__init__.py
  src/panoptikon/filesystem/access.py
  src/panoptikon/filesystem/cloud.py
  tests/core/test_cloud_storage.py
  tests/core/test_filesystem_access.py
Due: check-file-length, check-docstring-coverage

Phase 3 testing
  src/panoptikon/filesystem/cloud.py
  tests/core/test_cloud_storage.py
  tests/core/test_filesystem_access.py
  tests/core/test_paths.py
Due: check-file-length, check-docstring-coverage

Phase 3 testing
  src/panoptikon/filesystem/events.py
  tests/core/test_bookmarks.py
  tests/core/test_filesystem_events.py
  tests/core/test_filesystem_integration.py
  tests/core/test_fs_watcher.py
Due: check-file-length, check-docstring-coverage

Add self-hosted GitHub Actions runner workflow and update gitignore
  .github/workflows/self-hosted.yml
  .gitignore
Due: none

linting
  src/panoptikon/filesystem/cloud.py
  tests/core/test_paths.py
Due: check-file-length, check-docstring-coverage

Phase 3 testing improvements
  .coverage (2)
  TEST_IMPROVEMENT_SUMMARY.md
  docs/spec/phases/phase3-testing-program.md
  run.sh
  src/panoptikon/core/config.py
  src/panoptikon/core/errors.py
  src/panoptikon/core/events.py
  tests/core/test_bookmarks_enhanced.py
  tests/core/test_cloud_storage_advanced.py
  tests/core/test_config_extended.py
  tests/core/test_events_extended.py
  tests/core/test_events_extended_fixed.py
  tests/core/test_filesystem_access_enhanced.py
  tests/core/test_fs_watcher_advanced.py
  tests/core/test_fs_watcher_enhanced.py
  tests/core/test_fs_watcher_performance.py
  tests/core/test_integration_phase2.py
  tests/ui/test_ui_integration.py
Due: check-file-length, check-docstring-coverage

rf fs events
  TEST_IMPROVEMENT_SUMMARY_UPDATED.md
  scripts/cleanup_tests.py
  tests/core/test_filesystem_access.py
  tests/core/test_filesystem_access_enhanced.py
  tests/core/test_filesystem_watcher.py
  tests/core/test_fs_watcher.py
  tests/core/test_fs_watcher_advanced.py
  tests/core/test_fs_watcher_enhanced.py
  tests/core/test_fs_watcher_performance.py
  tests/ui/test_ui_mocking.py
Due: check-file-length, check-docstring-coverage

tidy up tests
  TEST_SUITE_IMPROVEMENT_PROPOSAL.md
  docs/spec/knowledge-graph-prompt.md
  tests/core/test_bookmarks.py
  tests/core/test_bookmarks_consolidated.py
  tests/core/test_bookmarks_enhanced.py
  tests/core/test_events.py
  tests/core/test_events_consolidated.py
  tests/core/test_events_extended.py
  tests/core/test_events_extended_fixed.py
Due: check-file-length

rf tests
  TEST_IMPROVEMENT_SUMMARY.md
  TEST_IMPROVEMENT_SUMMARY_UPDATED.md
  TEST_SUITE_IMPROVEMENT_PROPOSAL.md
  tests/core/test_filesystem_access.py
  tests/core/test_filesystem_consolidated.py
  tests/core/test_filesystem_events.py
  tests/core/test_filesystem_integration.py
  tests/core/test_filesystem_watcher.py
Due: check-file-length

test refactor
  tests/core/test_filesystem_consolidated.py
Due: check-file-length

rf tests
  tests/core/test_filesystem_consolidated.py
Due: check-file-length

consolidated tests cloud storage tests
  tests/core/test_cloud_storage.py
  tests/core/test_cloud_storage_advanced.py
Due: check-file-length

consolidating tests
  tests/core/test_bookmarks.py
  tests/core/test_cloud_storage.py
  tests/core/test_config_hot_reload.py
  tests/core/test_events.py
  tests/core/test_filesystem.py
  tests/core/test_integration_extra.py
Due: check-file-length

refactor tests
  tests/conftest.py
  tests/core/test_config.py
  tests/core/test_config_hot_reload.py
  tests/core/test_events.py
Due: check-file-length

refactor tests
  test_output.txt
  tests/core/test_integration.py
  tests/core/test_integration_extra.py
  tests/core/test_integration_simple.py
  tests/core/test_ui.py
Due: check-file-length

Path conditions:
  check-file-length: any of: \.py$
  check-docstring-coverage: any of: \.py$, but not: ^tests/
