Repository MouronRoger/panoptikon: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-length, check-docstring-coverage

check-file-length:
  name: check file length
  entry: python scripts/check_file_length.py
  language: python
  args:
  - --max-lines=500

check-docstring-coverage:
  name: check docstring coverage
  entry: python scripts/check_docstring_coverage.py
  language: python
  args:
  - --min-coverage=95

stage5.1
  docs/spec/AI_DOCUMENTATION_PROMPT.md
  docs/spec/stages/Stage5_1_query_parser.md
  docs/spec/stages/stage5_2_search_algorithm.md
  docs/spec/stages/stage5_3_result_management.md
  docs/spec/stages/stage5_4_sorting_system.md
  docs/spec/stages/stage5_5_filtering_system.md
  src/panoptikon/filesystem/py.typed
  src/panoptikon/search/__init__.py
  src/panoptikon/search/py.typed
  src/panoptikon/search/query_parser.py
  temp_test.db-shm
  temp_thread_test.db-shm
  tests/core/__init__.py
  tests/core/test_query_parser.py
Due: check-file-length, check-docstring-coverage

Phase 5.2
  docs/ai_docs.md
  docs/components/databaseconnectionpool.md
  src/panoptikon/search/__init__.py
  src/panoptikon/search/query_parser.py
  src/panoptikon/search/result.py
  src/panoptikon/search/search_engine.py
  tests/core/test_search_engine.py
Due: check-file-length, check-docstring-coverage

5.4 complete except testing
  docs/ai_docs.md
  docs/components/databaseconnectionpool.md
  src/panoptikon/search/result.py
  src/panoptikon/search/search_engine.py
  src/panoptikon/search/sorting.py
  test_output.txt
  tests/core/test_search_engine.py
  tests/core/test_sorting.py
  tests/core/test_sorting_benchmark.py
Due: check-file-length, check-docstring-coverage

5.4.linting
  benchmark_sorting_output.txt
  docs/ai_docs.md
  docs/spec/stages/stage5_4_1_sorting_live_test.md
  scripts/benchmark_sorting.py
  src/panoptikon/benchmark/__init__.py
  src/panoptikon/benchmark/sorting_benchmark.py
  src/panoptikon/search/sorting.py
  tests/test_search/test_sorting_performance.py
Due: check-file-length, check-docstring-coverage

Phase 5 testing complete
  docs/spec/read_panoptikon-development-roadmap.md
  docs/spec/stages/Phase4_prompt.md
  docs/spec/stages/Phase4_stage1_schema_completion-report.md
  docs/spec/stages/phase4_stage1_schema.md
  docs/spec/stages/phase4_stage2_connection.md
  docs/spec/stages/stage6-1-core-indexing-framework.md
  docs/spec/stages/stage6-2-initial-scanner.md
  docs/spec/stages/stage6-3-metadata-extraction.md
  docs/spec/stages/stage6-4-incremental-updates.md
  docs/spec/stages/stage6-5-file-system-monitoring.md
  docs/spec/stages/stage6-6-progress-tracking.md
  docs/spec/stages/stage6-7-folder-size-management.md
  docs/spec/stages/stage6_prompt_v6.md
  src/panoptikon/search/filtering.py
  src/panoptikon/search/search_engine.py
  src/panoptikon/search/sorting.py
  temp_test.db-shm
  temp_thread_test.db-shm
  test_output.txt
  tests/core/test_filtering.py
  tests/core/test_search_engine.py
  tests/core/test_sorting.py
Due: check-file-length, check-docstring-coverage

Phase 5 testing complete knowledge system
  docs/ai_docs.md
  docs/kg_export/kg_nodes.jsonld
  docs/spec/knowledge-system-mid-path-2.md
  docs/spec/knowledge-system-mid-path-3.md
  docs/spec/knowledge-system-mid-path.md
  docs/spec/stages/stage5_5_filtering_system.md
Due: none

New knowledge system
  .github/workflows/knowledge.yml
  .pre-commit-config.yaml
  README.md
  docs/ai_docs.md
  docs/spec/Client-panoptikon-spec.md
  docs/spec/knowledge-graph-prompt.md
  docs/spec/knowledge-system-mid-path-2.md
  docs/spec/knowledge-system-mid-path-3.md
  docs/spec/knowledge-system-mid-path.md
  scripts/knowledge/doc_lint.py
  scripts/knowledge/gen_template.py
  scripts/knowledge/memory_manager.py
  scripts/knowledge/relationship_extractor.py
  scripts/knowledge/test_relationship_extractor.py
Due: check-file-length, check-docstring-coverage

Update memory preparation
  .coverage 2
  .github/workflows/knowledge.yml
  docs/ai_docs_bak.md
  docs/components/databaseconnectionpool.md
  docs/components/folder-size-implementation.md
  docs/components/service-container.md
  docs/decisions/adr-20250514-block-phase-4.3-until-testing.md
  docs/kg_export/kg_nodes_bak.jsonld
  docs/phases/phase-1---foundation.md
  docs/phases/phase-2---core-infrastructure.md
  docs/phases/phase-3---filesystem-abstraction.md
  docs/phases/phase-4---database-implementation.md
  docs/spec/kg-memory-update/kg-handover-brief.md
  docs/spec/kg-memory-update/kg-implementation-files.md
  docs/spec/kg-memory-update/kg-migration-cursor-instructions.md
  docs/spec/kg-memory-update/kg-migration-guide.md
  docs/spec/kg-memory-update/kg-missing-files.md
  docs/spec/knowledge-system-mid-path-3.md
  scripts/knowledge/add_inverse_relations.py
  scripts/knowledge/add_relationship_sections.py
  scripts/knowledge/graph_summary.py
  scripts/knowledge/memory_manager_typed.py
  scripts/knowledge/models.py
  scripts/knowledge/rebuild_graph.sh
  scripts/knowledge/relationship_extractor.py
  scripts/knowledge/relationship_extractor_typed.py
  scripts/knowledge/validate_graph.py
Due: check-file-length, check-docstring-coverage

repopulate memory graph
  docs/components/All core components.md
  docs/components/Any component needing DB access.md
  docs/components/Build System.md
  docs/components/Cloud Detection.md
  docs/components/Configuration System.md
  docs/components/Connection Pool.md
  docs/components/Connection Pooling Requirement.md
  docs/components/Database Schema.md
  docs/components/Dependency Injection Requirement.md
  docs/components/Event Bus.md
  docs/components/FSEvents Wrapper.md
  docs/components/Folder Size Feature.md
  docs/components/Folder Size Implementation.md
  docs/components/Indexing System.md
  docs/components/Migration System.md
  docs/components/Project Structure.md
  docs/components/Security Bookmarks.md
  docs/components/Service Container.md
  docs/components/Testing Framework.md
  docs/components/UI.md
  docs/kg_export/kg_nodes.jsonld
  docs/phases/Phase 4 - Database Implementation.md
  scripts/knowledge/add_inverse_relations.py
  scripts/knowledge/add_relationship_sections.py
  scripts/knowledge/doc_lint.py
  scripts/knowledge/gen_template.py
  scripts/knowledge/graph_summary.py
  scripts/knowledge/memory_manager.py
  scripts/knowledge/memory_manager_typed.py
  scripts/knowledge/models.py
  scripts/knowledge/rebuild_graph.sh
  scripts/knowledge/relationship_extractor.py
  scripts/knowledge/relationship_extractor_typed.py
  scripts/knowledge/test_relationship_extractor.py
  scripts/knowledge/validate_graph.py
Due: check-file-length, check-docstring-coverage

Project rules for AI memory
  .cursor/rules/ai-memory.mdc
Due: none

linting and cleanup
  scripts/documentation/simple_migrate.py
  scripts/dual_reindex.py
  scripts/knowledge/add_inverse_relations.py
  scripts/knowledge/doc_lint.py
  scripts/knowledge/gen_template.py
  scripts/knowledge/graph_summary.py
  scripts/knowledge/memory_manager.py
  scripts/knowledge/relationship_extractor_typed.py
  scripts/knowledge/test_relationship_extractor.py
  scripts/knowledge/validate_graph.py
  scripts/qdrant/audit_fix_metadata.py
  src/panoptikon/database/connection.py
  src/panoptikon/database/performance_monitor.py
  src/panoptikon/database/pool_service.py
  src/panoptikon/database/query_builder.py
  src/panoptikon/database/service.py
  src/panoptikon/database/statement_registry.py
  src/panoptikon/filesystem/access.py
  src/panoptikon/filesystem/watcher.py
  src/panoptikon/search/filtering.py
  src/panoptikon/search/query_parser.py
  src/panoptikon/ui/events.py
  src/panoptikon/ui/window_interfaces.py
  temp_test.db-shm
  temp_thread_test.db-shm
  tests/core/test_db_pool.py
  tests/test_search/test_sorting_performance.py
Due: check-file-length, check-docstring-coverage

improve test coverage
  docs/ai_docs.md
  src/panoptikon/search/sorting.py
  temp_test.db-shm
  temp_thread_test.db-shm
  tests/core/test_sorting.py
  tests/ui/test_ui_integration.py
Due: check-file-length, check-docstring-coverage

Stage 6.1 initial coding
  docs/spec/AI_DOCUMENTATION_PROMPT.md
  src/panoptikon/core/indexer.py
Due: check-file-length, check-docstring-coverage

Stage 6.1 - indexer and schema
  docs/ai_docs.md
  src/panoptikon/core/indexer.py
  src/panoptikon/database/schema.py
Due: check-file-length, check-docstring-coverage

Stage 6.1a Implementation scheme - indexer and schema
  docs/ai_docs.md
  docs/spec/stages/stage6-1a-indexing-state-prompt.md
  docs/spec/stages/stage6-1a-substage-implementation.md
  docs/spec/stages/stage6-1a-substage-integration.md
  docs/spec/stages/stage6-2-initial-scanner.md
  docs/spec/stages/stage6-4-incremental-updates.md
  docs/spec/stages/stage6-6-progress-tracking.md
  docs/stages/stage6-1a-substage-implementation.md
  src/panoptikon/core/errors.py
  src/panoptikon/indexing/__init__.py
  src/panoptikon/indexing/state_manager.py
  tests/test_indexing/test_state_manager.py
Due: check-file-length, check-docstring-coverage

Re-index
  scripts/docs/kg_export/kg_nodes.jsonld
Due: none

Stage one a completed
  docs/AI_DOCUMENTATION_GUIDE.md
  docs/components/Indexing System.md
  docs/components/databaseconnectionpool.md
  docs/spec/stages/stage6-1a-substage-integration.md
  src/panoptikon/core/__init__.py
  src/panoptikon/core/indexer.py
  src/panoptikon/indexing/state_manager.py
  src/panoptikon/ui/macos_app.py
  tests/test_indexing/test_indexer_integration.py
Due: check-file-length, check-docstring-coverage

adding date stamp to AI documentation
  docs/spec/knowledge-system-mid-path-3.md
Due: none

Adding timestamp check
  .pre-commit-config.yaml
  docs/ai_docs.md
  docs/spec/AI_DOCUMENTATION_PROMPT.md
  scripts/checks/__init__.py
  scripts/checks/timestamp_check.py
  scripts/documentation/ai_docs.py
Due: check-file-length, check-docstring-coverage

stage6_1 done
  README.md
  coverage_report.txt
  docs/AI_DOCUMENTATION_GUIDE.md
  docs/ai_docs.md
  docs/components/databaseconnectionpool.md
  docs/spec/AI_DOCUMENTATION_PROMPT.md
  scripts/documentation/README.md
  temp_test.db-shm
  temp_thread_test.db-shm
  test_output.txt
  test_sorting_output.txt
  tests/core/test_sorting.py
Due: check-file-length

more tidying up
  docs.py
  docs/guides/Pyright Migration Plan - Post Phase 4.md
  docs/guides/pyobjc_typing.md
  docs/guides/pyright-migration step 1 Configure PyObjC Type Handling (1 day).md
  docs/guides/ui_typing_patterns.md
  docs/panoptikon_roadmap.md
  docs/spec/kg-memory-update/new-knowledge-cleanup-implementation-final.md
  scripts/checks/__init__.py
  scripts/checks/timestamp_check.py
  scripts/documentation/README.md
  scripts/documentation/ai_docs.py
  scripts/knowledge/__init__.py
  scripts/knowledge/memory_manager.py
  scripts/knowledge/memory_manager_typed.py
  scripts/knowledge/models.py
  scripts/knowledge/rebuild_graph.sh
  scripts/knowledge/relationship_extractor.py
  scripts/knowledge/relationship_extractor_typed.py
Due: check-file-length, check-docstring-coverage

refactor AI memory phase one
  docs/spec/kg-memory-update/new-knowledge-cleanup-implementation-1.md
  docs/spec/kg-memory-update/new-knowledge-cleanup-implementation-2.md
  scripts/knowledge/add_inverse_relations.py
  scripts/knowledge/add_relationship_sections.py
  scripts/knowledge/ai_docs_parser.py
  scripts/knowledge/doc_lint.py
  scripts/knowledge/gen_template.py
  scripts/knowledge/graph_summary.py
  scripts/knowledge/rebuild_graph.sh
  scripts/knowledge/relationship_extractor_typed (1).py
  scripts/knowledge/test_relationship_extractor.py
  scripts/knowledge/validate_graph.py
Due: check-file-length, check-docstring-coverage

Memory system implemented
  docs/panoptikon_roadmap.md
  scripts/knowledge/add_inverse_relations.py
  scripts/knowledge/relationship_extractor_typed.py
Due: check-file-length, check-docstring-coverage

Path conditions:
  check-file-length: any of: \.py$
  check-docstring-coverage: any of: \.py$, but not: ^tests/
