Repository MouronRoger/panoptikon: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-length, check-docstring-coverage

check-file-length:
  name: check file length
  entry: python scripts/check_file_length.py
  language: python
  args:
  - --max-lines=500

check-docstring-coverage:
  name: check docstring coverage
  entry: python scripts/check_docstring_coverage.py
  language: python
  args:
  - --min-coverage=95

bootstrap test_bootstrap
  tests/core/test_bootstrap.py
Due: check-file-length

phase 4 prep 1
  scripts/check_file_length.py
  src/panoptikon/core/config.py
  src/panoptikon/core/errors.py
  src/panoptikon/core/events.py
  src/panoptikon/core/lifecycle.py
  src/panoptikon/core/service.py
  src/panoptikon/filesystem/access.py
  src/panoptikon/filesystem/bookmarks.py
  src/panoptikon/filesystem/cloud.py
  src/panoptikon/filesystem/paths.py
  src/panoptikon/filesystem/watcher.py
  src/panoptikon/typings/AppKit/__init__.pyi
  src/panoptikon/typings/Foundation/__init__.pyi
  src/panoptikon/typings/__init__.py
  src/panoptikon/typings/objc/__init__.pyi
  src/panoptikon/ui/macos_app.py
  src/panoptikon/ui/objc_wrappers.py
  src/panoptikon/ui/validators.py
  tests/conftest.py
  tests/core/test_bookmarks.py
  tests/core/test_cloud_storage.py
  tests/core/test_errors.py
  tests/core/test_events.py
  tests/core/test_filesystem.py
  tests/core/test_integration.py
  tests/core/test_lifecycle.py
  tests/core/test_paths.py
  tests/events_patched.py
  tests/test_main.py
  tests/ui/test_macos_app.py
  tests/ui/test_macos_app_extended.py
  tests/ui/test_objc_integration.py
  tests/ui/test_ui_mocking.py
  tests/ui/test_validators.py
Due: check-file-length, check-docstring-coverage

phase 4 prep 2
  src/panoptikon/ui/macos_app.py
Due: check-file-length, check-docstring-coverage

phase 4 prep 4
  src/panoptikon/core/config.py
Due: check-file-length, check-docstring-coverage

phase 4 prep 5
  docs/spec/phases/phase8_prompt.md
  docs/spec/phases/read_panoptikon-system-architecture.md
  src/panoptikon/core/config.py
  src/panoptikon/core/errors.py
  src/panoptikon/core/events.py
  src/panoptikon/core/lifecycle.py
  src/panoptikon/core/service.py
  src/panoptikon/filesystem/access.py
  src/panoptikon/filesystem/bookmarks.py
  src/panoptikon/filesystem/cloud.py
  src/panoptikon/filesystem/events.py
  src/panoptikon/filesystem/paths.py
  src/panoptikon/filesystem/watcher.py
  src/panoptikon/ui/macos_app.py
  tests/core/test_bookmarks.py
  tests/core/test_cloud_storage.py
  tests/core/test_config.py
  tests/core/test_config_hot_reload.py
  tests/core/test_errors.py
  tests/core/test_events.py
  tests/core/test_filesystem.py
  tests/core/test_integration.py
  tests/core/test_lifecycle.py
  tests/core/test_paths.py
Due: check-file-length, check-docstring-coverage

bootstrap tests
  tests/core/test_bootstrap.py
  tests/core/test_events.py
Due: check-file-length

phase 4 prep 6
  tests/core/test_service.py
  tests/ui/test_macos_app.py
  tests/ui/test_macos_app_extended.py
  tests/ui/test_objc_integration.py
  tests/ui/test_ui_integration.py
  tests/ui/test_ui_mocking.py
  tests/ui/test_validators.py
Due: check-file-length

retest
  test_output.txt
  tests/core/test_bootstrap.py
  tests/core/test_config.py
  tests/core/test_lifecycle.py
  tests/core/test_paths.py
Due: check-file-length

tests: fix tests
  CONTRIBUTING.md
  src/panoptikon/filesystem/access.py
  src/panoptikon/filesystem/cloud.py
  test_output.txt
  tests/ui/test_macos_app.py
  tests/ui/test_macos_app_extended.py
  tests/ui/test_ui_integration.py
Due: check-file-length, check-docstring-coverage

linting
  tests/ui/test_macos_app.py
Due: check-file-length

linting
  .mypy.ini
  pyproject.toml
Due: none

Finalise testing after RF cloud handling
  src/panoptikon/filesystem/access.py
  test_output.txt
  tests/core/conftest.py
  tests/core/test_filesystem.py
  tests/core/test_filesystem_access.py
  tests/core/test_filesystem_watcher.py
Due: check-file-length, check-docstring-coverage

phase 4.1: database schema implementation
  docs/spec/phases/phase4_1_schema.md
  docs/spec/phases/phase4_1_schema_completion-report.md
  docs/spec/phases/phase4_2_connection.md
  docs/spec/phases/phase4_3_migration.md
  docs/spec/phases/phase4_4_optimization.md
  docs/spec/phases/phase4_5_integrity.md
  src/panoptikon/database/__init__.py
  src/panoptikon/database/config.py
  src/panoptikon/database/connection.py
  src/panoptikon/database/schema.py
  src/panoptikon/database/service.py
  tests/core/test_database_connection.py
  tests/core/test_database_schema.py
  tests/core/test_database_service.py
Due: check-file-length, check-docstring-coverage

phase 4.2: database pool implementation linting
  docs/spec/phases/phase4_2_completion-report.md
  src/panoptikon/database/__init__.py
  src/panoptikon/database/config.py
  src/panoptikon/database/pool.py
  src/panoptikon/database/pool_service.py
  temp_test.db-shm
  temp_test.db-wal
  temp_thread_test.db-shm
  temp_thread_test.db-wal
  tests/core/test_db_pool.py
  tests/core/test_db_pool_service.py
Due: check-file-length, check-docstring-coverage

update vscode settings
  .vscode/settings.json
Due: none

4-2-4.3 migration
  docs/spec/phases/phase4_2_to_4_3_transition.md
  docs/spec/phases/phase4_prompt.md
Due: none

Phase 4.3 migration
  docs/spec/phases/phase4_prompt.md
  src/panoptikon/database/config.py
  src/panoptikon/database/pool.py
  src/panoptikon/database/pool_service.py
  temp_test.db-shm
  temp_thread_test.db-shm
  test.db
  test.db-shm
  test.db-wal
  test_output.txt
  tests/core/test_db_pool.py
  tests/core/test_db_pool_service.py
Due: check-file-length, check-docstring-coverage

End of phase 4.2 Plus documentation centralisation
  .cursorrules
  AI_DOCUMENTATION_PROMPT.md
  CONTRIBUTING.md
  README.md
  ai_docs.md
  benchmark_results.md
  docker-compose.yml
  docs.py
  docs/AI_DOCUMENTATION_GUIDE.md
  docs/CONSOLIDATION_SUMMARY.md
  docs/components/databaseconnectionpool.md
  docs/components/service-container.md
  docs/decisions/adr-20250514-block-phase-4.3-until-testing.md
  docs/phases/phase-1---foundation.md
  docs/phases/phase-2---core-infrastructure.md
  docs/phases/phase-3---filesystem-abstraction.md
  docs/phases/phase-4---database-implementation.md
  requirements.txt
  scripts/benchmark_pool.py
  scripts/documentation/README.md
  scripts/documentation/ai_docs.py
  scripts/documentation/migrate_complete.py
  scripts/documentation/migrate_kg_to_docs.py
  scripts/documentation/record_transition.py
  scripts/documentation/simple_migrate.py
  scripts/qdrant/.env.example
  scripts/qdrant/QUICK_REFERENCE.md
  scripts/qdrant/README.md
  scripts/qdrant/check_config.py
  scripts/qdrant/fix_document_field.py
  scripts/qdrant/index_docs.py
  scripts/qdrant/index_docs_mcp.py
  scripts/qdrant/manage.py
  scripts/qdrant/qdrant.sh
  scripts/qdrant/search_docs.py
  scripts/qdrant/test_docs.py
  scripts/qdrant/test_mcp.py
  src/panoptikon/database/pool.py
Due: check-file-length, check-docstring-coverage

System memory
  .cursorrules
  AI_DOCUMENTATION_PROMPT.md
  docs/README.md
  docs/ai_docs.md
  docs/kg_export/kg_nodes.jsonld
  docs/spec/multi-window-spec.md
  docs/spec/phases/read_panoptikon-development-roadmap.md
  scripts/documentation/README.md
  scripts/documentation/ai_docs.py
  scripts/dual_reindex.py
Due: check-file-length, check-docstring-coverage

system memory
  scripts/documentation/README.md
  scripts/qdrant/audit_fix_metadata.py
Due: check-file-length, check-docstring-coverage

Adding folder size integration report to client spec
  docs/spec/# Panoptikon Code Error Priority List.md
Due: none

tidy up
  docs/AI_DOCUMENTATION_GUIDE.md
  docs/CONSOLIDATION_SUMMARY.md
  docs/ai_docs.md
  docs/guides/pyobjc_typing.md
  docs/spec/Client-panoptikon-spec.md
  docs/spec/folder-size-integration-report.md
  docs/spec/stages/read_panoptikon-development-roadmap.md
  docs/spec/stages/stage4_1_schema.md
  docs/spec/stages/stage6_prompt.md
  docs/spec/stages/stage7_prompt.md
  temp_test.db-shm
  temp_test.db-wal
  temp_thread_test.db-shm
  temp_thread_test.db-wal
  test.db
  test.db-shm
  test.db-wal
Due: none

Add folder size to database schema
  src/panoptikon/database/schema.py
  tests/core/test_database_schema.py
Due: check-file-length, check-docstring-coverage

Phase 4.3
  docs/spec/stages/read_panoptikon-development-roadmap.md
  docs/spec/stages/stage4_3_migration.md
  docs/spec/stages/stage4_4_optimization.md
  docs/spec/stages/stage4_5_integrity.md
  docs/spec/stages/stage6_prompt.md
  docs/spec/stages/stage7_prompt.md
  src/panoptikon/database/pool.py
  src/panoptikon/database/schema.py
  temp_test.db-shm
  temp_test.db-wal
  temp_thread_test.db-shm
  temp_thread_test.db-wal
  test.db
  test.db-shm
  test.db-wal
  tests/core/test_database_schema.py
  tests/core/test_db_pool.py
Due: check-file-length, check-docstring-coverage

stage 4.3 partial
  docs/ai_docs.md
  src/panoptikon/database/schema.py
  tests/core/test_database_schema.py
Due: check-file-length, check-docstring-coverage

4.3 complete
  AI_DOCUMENTATION_PROMPT.md
  docs.py
  docs/ai_docs.md
  docs/components/databaseconnectionpool.md
  docs/spec/multi-window/dual-window-integration-report.md
  docs/spec/multi-window/dual-window-refactoring-report.md
  docs/spec/multi-window/dual-window-spec.md
  docs/spec/multi-window/multiwindow-integration-report.md
  scripts/check_file_length.py
  scripts/documentation/migrate_complete.py
  scripts/documentation/migrate_kg_to_docs.py
  scripts/documentation/record_transition.py
  scripts/documentation/simple_migrate.py
  scripts/qdrant/fix_document_field.py
  scripts/qdrant/index_docs.py
  scripts/qdrant/index_docs_mcp.py
  scripts/qdrant/manage.py
  scripts/qdrant/test_docs.py
  scripts/qdrant/test_mcp.py
  temp_test.db-shm
  temp_thread_test.db-shm
  test_output.txt
  tests/conftest.py
  tests/core/test_database_schema.py
  tests/events_patched.py
  tests/test_main.py
  tests/ui/conftest.py
  tests/ui/test_ui_integration.py
Due: check-file-length, check-docstring-coverage

memory fuckery
  .pre-commit-config.yaml
  docs/AI_DOCUMENTATION_GUIDE.md
  docs/ai_docs.md
  docs/kg_export/kg_nodes.jsonld
  scripts/documentation/README.md
  scripts/dual_reindex.py
  scripts/qdrant/QUICK_REFERENCE.md
  scripts/qdrant/README.md
  scripts/qdrant/index_docs.py
  scripts/qdrant/manage.py
  scripts/qdrant/qdrant.sh
  scripts/qdrant/search_docs.py
  scripts/qdrant/test_docs.py
Due: check-file-length, check-docstring-coverage

Memory and update docs
  AI_DOCUMENTATION_PROMPT.md
  docs/AI_DOCUMENTATION_GUIDE.md
  docs/ai_docs.md
  docs/components/folder-size-implementation.md
  docs/kg_export/kg_nodes.jsonld
  docs/spec/stages/stage4_1_schema.md
  docs/spec/stages/stage4_3_migration.md
  docs/spec/stages/stage6_prompt.md
  docs/spec/stages/stage7_prompt.md
  scripts/dual_reindex.py
Due: check-file-length, check-docstring-coverage

33 window refactoring plan
  docs/spec/multi-window/dual-window-refactoring-plan.md
Due: none

change date to 2025
  AI_DOCUMENTATION_PROMPT.md
Due: none

changes
  AI_DOCUMENTATION_PROMPT.md
Due: none

tidy memory docs
  AI_DOCUMENTATION_PROMPT.md
  docs/AI_DOCUMENTATION_GUIDE.md
  docs/ai_docs.md
  docs/kg_export/kg_nodes.jsonld
  scripts/documentation/dual_reindex.py
  scripts/qdrant/index_docs_mcp.py
  scripts/qdrant/qdrant.sh
Due: check-file-length, check-docstring-coverage

references to phases
  docs/spec/stages/read_panoptikon-development-roadmap.md
Due: none

Dual window preparation
  docs/ai_docs.md
  docs/spec/multi-window/# Dual-Window Feature Preparation Plan.md
  src/panoptikon/core/service_extensions.py
  src/panoptikon/ui/events.py
  src/panoptikon/ui/window_interfaces.py
Due: check-file-length, check-docstring-coverage

update prompts after dual window refactor
  Client-panoptikon-spec.md
  docs/ai_docs.md
  docs/components/databaseconnectionpool.md
  docs/spec/dual-window/# Dual-Window Feature Preparation Plan.md
  docs/spec/dual-window/dual-window-integration-report.md
  docs/spec/dual-window/dual-window-refactoring-plan.md
  docs/spec/dual-window/dual-window-refactoring-report.md
  docs/spec/dual-window/dual-window-spec.md
  docs/spec/stages/read_panoptikon-development-roadmap.md
  docs/spec/stages/stage10_prompt.md
  docs/spec/stages/stage7_prompt.md
  docs/spec/stages/stage9_prompt.md
  src/panoptikon/__main__.py
  stage10_prompt_v6.md
  stage11_prompt_v6.md
  stage5_prompt_v6.md
  stage6_prompt_v6.md
  stage7_prompt_v6.md
  stage8_prompt_v6.md
  stage9_prompt_v6.md
  temp_test.db-shm
  temp_thread_test.db-shm
  test_output.txt
Due: check-file-length, check-docstring-coverage

phase4.4 complete
  docs/ai_docs.md
  docs/spec/stages/stage10_prompt.md
  docs/spec/stages/stage10_prompt_v6.md
  docs/spec/stages/stage11_prompt.md
  docs/spec/stages/stage11_prompt_v6.md
  docs/spec/stages/stage5_prompt.md
  docs/spec/stages/stage5_prompt_v6.md
  docs/spec/stages/stage6_prompt.md
  docs/spec/stages/stage6_prompt_v6.md
  docs/spec/stages/stage7_prompt.md
  docs/spec/stages/stage7_prompt_v6.md
  docs/spec/stages/stage8_prompt.md
  docs/spec/stages/stage8_prompt_v6.md
  docs/spec/stages/stage9_prompt.md
  docs/spec/stages/stage9_prompt_v6.md
  src/panoptikon/core/py.typed
  src/panoptikon/database/__init__.py
  src/panoptikon/database/connection.py
  src/panoptikon/database/optimization.py
  src/panoptikon/database/performance_monitor.py
  src/panoptikon/database/pool_service.py
  src/panoptikon/database/py.typed
  src/panoptikon/database/query_builder.py
  src/panoptikon/database/service.py
  src/panoptikon/database/statement_registry.py
  temp_test.db-shm
  temp_thread_test.db-shm
  tests/core/test_database_service.py
  tests/core/test_db_pool_service.py
Due: check-file-length, check-docstring-coverage

Stage 4.4 complete
  docs/ai_docs.md
  docs/components/databaseconnectionpool.md
Due: none

pyright migration 1
  .github/workflows/ci.yml
  .github/workflows/self-hosted.yml
  .gitignore
  .pre-commit-config.yaml
  .vscode/settings.json
  README.md
  docs/spec/Pyright Migration Plan - Post Phase 4.md
  docs/spec/pyright-migration step 1 Configure PyObjC Type Handling (1 day).md
  docs/ui_typing_patterns.md
  pyright-migration.md
  pyrightconfig.json
  requirements.txt
  src/panoptikon/core/config.py
  src/panoptikon/core/errors.py
  src/panoptikon/core/events.py
  src/panoptikon/database/connection.py
  src/panoptikon/database/performance_monitor.py
  src/panoptikon/database/pool.py
  src/panoptikon/database/pool_service.py
  src/panoptikon/database/query_builder.py
  src/panoptikon/database/statement_registry.py
  src/panoptikon/filesystem/access.py
  src/panoptikon/typings/objc/AppKit.pyi
  src/panoptikon/typings/objc/Foundation.pyi
  src/panoptikon/typings/objc/objc.pyi
  src/panoptikon/ui/macos_app.py
  src/panoptikon/ui/objc_wrappers.py
Due: check-file-length, check-docstring-coverage

pyright migration finished
  docs/ai_docs.md
  pyright-migration.md
  pyrightconfig.json
Due: none

Path conditions:
  check-file-length: any of: \.py$
  check-docstring-coverage: any of: \.py$, but not: ^tests/
